# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
env/
venv/
build/
dist/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info
*.log

# Docker
.dockerignore
docker-compose.override.yml

# VS Code
.vscode/
.devcontainer/**/settings.json

# Misc
.DS_Store
